.buttonEdit {
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 255, 0);
}

.buttonDelete {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.buttonConfirm {
    border: 1px solid rgb(0, 179, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 179, 255);
}