.buttonConfirm {
    border: 1px solid rgb(0, 179, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 179, 255);
    margin-left: 10px;
    text-align: right;
}

.textBox {
    padding: 8px;
}