.buttonEdit {
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 255, 0);
    margin: 0 0 0 auto;
}

.buttonDelete {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    text-align: right;
}

.buttonConfirm {
    border: 1px solid rgb(0, 179, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 179, 255);
    margin: 0 0 0 auto;
}

.textBox {
    padding: 8px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}